.item {
    display: flex;
    position: static;
    flex: 1 1 18%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.descript {
    margin: 10px;
}

.script, .class {
    display: none;
}

.profile img{
    vertical-align:middle;
}

.buttons {
    display: flex;
}

.buttons * {
    flex: 1 1 50%;
}

.content {
    flex: 1 1 80%;
}

#add_button {
    background-color: #4CAF50;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    position: absolute;
    bottom:40px;
    right:40px;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
}

.recommend {
    flex: 1 1 5%;
    float:left;
    width: 30px;
    height: 100%;
    text-align: center;
    padding: 1px 10px 1px 10px;
}

.triangle-up {
    position: relative;
    width: 0;
    height: 0;
    top: 2px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 30px solid lightgray;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 30px solid lightgray;
}

@media (max-width:1500px){
    .item {
        flex: 1 1 30%;
    }
}