.item {
    display: flex;
    position: relative;
    flex: 1 1 18%;
    margin-bottom: 10px;
    margin-left: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.descript {
    margin: 10px;
}

.script, .class {
    display: none;
}

.profile img{
    vertical-align:middle;
}

.buttons {
    display: flex;
}

.buttons * {
    flex: 1 1 50%;
}

.content {
    flex: 1 1 80%;
    padding:10px;
}

.nick {
    display: inline-block;
    margin-left: 2px;
    font-weight: 500;
}

#add_button {
    background-color: #4CAF50;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    position: absolute;
    bottom:40px;
    right:40px;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
}

.recommend {
    flex: 1 1 5%;
    float: left;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    text-align: center;
    padding-left: 12px;
}

.recommend button{
    outline:none;
 }
 .recommend button::-moz-focus-inner {
    border: 0;
 }

.triangle-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid lightgray;
    margin-top: 5px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 35px solid lightgray;
}

@media (max-width:1500px){
    .item {
        flex: 1 1 30%;
    }
}