
.Main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding: 30px;
    overflow: auto;

    align-items:flex-start;
    align-content:flex-start;
}

.ItemContainer {
    width: auto;
    margin: 0 auto;
    overflow: auto;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    background: white;
    transform: translate(-50%, -50%);
  }
  
  #Executer {
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  #Executer_canvas {
    border: 0;
  }
  
  #Scripter {
    width: 100%;
    height: 100%;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    resize: none;
  }