
.creater {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 94.5%;
}

.preview {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
    overflow-x: scroll;
    overflow-y: scroll;
}

.preview .inner {
    display: block;
    background-color: white;
}

.preview .controller{
    position: absolute;
    bottom: 20px;
}

.mirror {
    position: relative;
    flex: 1 1 50%;
}