
.creater {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100%;
    overflow: hidden;
}

.preview {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
    overflow-x: scroll;
    overflow-y: scroll;
}

.preview .inner {
    display: block;
    background-color: white;
}

.mirror {
    position: relative;
    float: right;
    flex: 1 1 50%;
    overflow:hidden;
}

.mirror .controller {
    vertical-align: middle;
}

.mirror .code{ 
    display: block;
    width: 100%;
    height: 94%;
    overflow: scroll
}

.mirror .code .cm-s-material{ 
    width: 100%;
    height: 94%;
} 