
.creater {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100%;
}

.preview {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
    overflow-x: scroll;
    overflow-y: scroll;
}

.preview .inner {
    display: block;
    background-color: white;
}

.mirror {
    position: relative;
    float: right;
    flex: 1 1 50%;
}

.mirror .controller {
    vertical-align: middle;
}
