
.Main {
  width: 80%;
  margin: 30px;
}

.Nav {
  width: 20%;
  float: right;
  margin: 30px;
  margin-top: 10px;
}

.Nav {
  border: solid black 1px;
}

.Nav .logoin {
  border: solid black 10px;
}

.Nav .chat {
  margin-top: 30px;
}