
.App {
  margin: 30px;
}

.Main {
  width: 75%;
  float: left;
  box-sizing: border-box;
}
.Nav {
  text-align: center;
  width: 25%;
  height: 750px;
  float: right;
  box-sizing: border-box;
  border: solid black 1px;
  padding: 10px;
}

.Nav .chat {
  
}
